body{
    width: 1440px;
    background-color:#000000;
    color: #fff;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

}

.banner-content{
    background-image: url('../images/banner.png'), linear-gradient( #00000060, #31a9dd30, #00000060);   
    border: #33A8DB, solid, 1px; 
    width: 1440px;
    height: 605px;
}
.logo{
    background-color: transparent;
}
.imagens-fundo{
    object-fit: cover;
    /* object-position: center; */

}
h1{
    background-image: linear-gradient(to bottom, #33A8DB, #1472B7);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    color: black;
}
h2{
    color: #33A8DB;
    font-weight: 700px;
    font-size: 32px;
}
p{
    background-color: transparent;
}
a{
    color: #1472B7;
}
span{
    color: #33A8DB;
}
.button{
    background-color: transparent;
    border: 2px, solid, #3BA1CD;
    width: 326px;
    height: 57px;
    padding: 19px, 91px;
    gap: 31px;
}
button{
    background-color: transparent;
    border: 0;
    color: #33A8DB;
}
#transform-world{
    background-image: url('../images/woman-code.png'), linear-gradient( #00000060, #31a9dd30, #00000060);  
    background-size: 1439px 960px;
    background-position: center -250px;
    height: 363px;
}